# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/
*.lcov
.nyc_output

# Production & Build outputs
dist/
build/
out/
.angular/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Media & Storage
storage/
uploads/
media/
*.mp4
*.m3u8
*.flv
/storage/**/*.ts

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Prisma
prisma/dev.db
prisma/dev.db-journal
